

body{
font-family: 'Allerta', sans-serif;
margin: 0px;
}

.titulo
{
  font-size: 70px;
  margin-bottom: 15px;
  margin-top: 70px;
}
.titulo span{
  text-decoration: underline;
}
.title-a{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-top: 0px;
}
.contenedor{
  width: 800px;
  margin: auto;
  position: relative;
}
.guitarras{
  color:#1f313C;
  margin-bottom: 80px;
}

.guitarras h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}
.guitarra{
  /* overflow: hidden; */
  border: 1px solid #1F313C;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.derecha{
  float: right;
  position: relative;
  top:-127px;
}

.izquierda{
  float: left;
  position: relative;
  top: 20px;
}
.title-b{
  font-size: 50px;
  margin-bottom: 20px;
}
.portadas{
  color:white;
  padding: 20px;
  height: 500px;
}
.background{
  background-image:url('../images/background.png');
  background-size: cover;
}
.button{
  margin-bottom: 70px;
  border-radius: 12px;
  background: #fd324e;
  padding: 7px 12px;
  font-size: 18px;
  cursor: pointer;
  background: linear-gradient(to left, #fe344e,#ff7250);
  text-decoration: none;
}

.menu{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0px;
}
.menu li
{ display: inline-block;
  margin-left: 30px;
}
.logotipo{
  display: inline-block;
}

.portadas .contenedor{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  height: 200px;
}

.contenedor-guitarra-a{
margin-right:  370px;
padding-left: 20px;
}

.contenedor-guitarra-b{
margin-left: 370px;
padding-right: 20px;
position: relative;
bottom: 80px;
}
.guitarras ol {
  padding: 0px;
}

.guitarra.b{
  height: 200px
}
.header
{
  position: relative;
}
.footer
{
  background: #273b47;
  padding: 50px 10px;
}
.contacto
{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.contacto img{
  display: block;
}

.info {
  margin-top: 20px;
}

.info a{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

input,textarea{
  outline: 0px;
}
input:focus,textarea:focus{
  background: lightgray;
}

.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.formulario{
  display: flex;
  width: 500px;
  color: white;
}
.col1,.col2{
  display: flex;
  flex-direction: column;
}
.col1{
  margin-right: 20px;
}
.col2{
  align-items: flex-start;
}
.col2 .button{
  margin-top: 20px;
}
.intereses label
{ display: flex;
  flex-direction: row;
  font-size: 12px;
  width: 50%
}

.formulario label,.intereses{
  margin-bottom: 10px;
}

.intereses
{ display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.sexo{
  margin-top: 10px;
}
table{
  width: 100%;
}
th{
  background: #273b47;
  color:white;
}

th{
  background: #273b47;
  color:white;
}
th{
  padding: 10px;
}
td{
  padding: 20px;
}
table,td,th{
  border:1px solid black;
  border-collapse: collapse;
}
.tabla{
  margin: 50px 10px;
}
.menu li:before{
  content: '∘';
  font-size: 30px;
  color: white;

}
.menu a{
  color: white;
  text-decoration: none;
}
